.card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  row-gap: 10px;
  color: #61dafb;
  background: rebeccapurple;

  &_title {
    display: flex;
    color: beige;
    vertical-align: top;
  }
}

:global(.foo) {
  color: #61dafb;
}

div {
  transition: margin 350ms ease-in;
}
